/*===============-SITEWIDE CODE-===============*/
html {
  height: 100%;
}
/*Initialising the custom font from an assets folder*/
@font-face {
  font-family: 'New Technical';
  src: url(./assets/NewTechnical.ttf);
}
/*Code for custom scrollbar*/
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background: hsl(36, 29%, 65%);
  border-left: 1px solid hsl(40, 4%, 25%);
}
::-webkit-scrollbar-thumb {
  background:hsl(40, 4%, 25%);
  border-radius: 2px;
}
/*Code for the body of the pages*/
body {
  background-color: hsl(40, 45%, 84%);
  font-family: 'New Technical';
  font-size: 24px;
  font-weight: 500;
  color: hsl(40, 4%, 25%);
  margin: 0;
  min-height: 100vh;
  cursor: url(images/circle_small.png) 16 16, auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: whitesmoke;
  cursor: url(images/blur_small.png) 16 16, pointer;
}

.heading_image {
  position: relative;
  display: block;
  margin-left: 180px;
  bottom: 50px;
  margin-bottom: -46px;
}

.heading_image_2 {
  position: relative;
  display: block;
  margin-left: 200px;
  bottom: 50px;
  margin-bottom: -46px;
}

.heading_image_3 {
  position: relative;
  display: block;
  margin-left: 176px;
  bottom: 50px;
  margin-bottom: -46px;
}

.square_list {
  list-style: square;
}

.blank_list {
  list-style: none;
}

article {
  display: inline-block;
  margin-left: 20%;
  max-width: 60%;
  align-items: center;
}

.article_style {
  border-style: solid;
  border-color: hsl(40, 4%, 25%);
  border-width: 2px;
  border-radius: 2px;
}

.article_style h3 {
  margin-bottom: -4px;
}

section {
  padding: 10px;
}

.introduction_base {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.bodysetter {
  margin-top: 87px;
}

.introduction {
  margin-left: 20px;
  max-width: 60%;
}

.introduction_image {
  float: right;
  width: 120px;
  height: 80px;
  border-radius: 2px;
  margin-right: 20px;
  margin-top: -130px;
  margin-bottom: 10px;
}

.publish_date_base {
  font-size: 20px;
  float: right;
  margin-right: 20px;
  margin-top: -40px;
  margin-bottom: 10px;
}

.internal_nav_box {
  margin-left: 20%;
  max-width: 60%;
  height: 40px;
  align-items: center;
  border-style: solid;
  border-color: hsl(40, 4%, 25%);
  border-width: 2px;
  border-radius: 2px;
  background-color: hsl(36, 29%, 65%);
}

.note_article {
  display: block;
  margin-left: 20%;
  max-width: 60%;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: hsl(40, 4%, 25%);
  border-width: 2px;
  border-radius: 2px;
  margin-top: 10px;
}

.list_sideways {
  position: relative;
  top: 6px;
  right: 30px;
  list-style: none;
  display: inline;
}

.list_sideways li {
  display: inline;
}

.internal_link {
  text-decoration: none;
  color: hsl(40, 4%, 25%)
}

.internal_link:hover {
  text-decoration: none;
  color: whitesmoke;
  cursor: url(images/blur_small.png) 16 16, pointer;
}

.list_link {
  text-decoration: none;
  color: hsl(40, 4%, 25%);
}

.list_link:hover {
  text-decoration: none;
  cursor: url(images/blur_small.png) 16 16, pointer;
}

.list_link::after {
  content: "";
  display: inline-block;
  position: relative;
  background: hsl(40, 4%, 25%);
  width: 0px;
  height: 2px;
  bottom: 3px;
  left: 10px;
  transition: width 150ms ease;
}

.list_link:hover::after {
  width: 60px;
}

.dotflash::after {
  content: "";
  display: inline-block;
  position: relative;
  background: hsl(40, 4%, 25%);
  width: 6px;
  height: 6px;
  left: 9px;
  bottom: 1px;
  transform: scale(0,0);
  transition: 190ms ease-in;
}

.dotflash:hover::after {
  transform: scale(1,1);
}

.separator {
  display: block;
  position: relative;
  width: 60px;
  height: 2px;
  left: -12px;
  background-color: hsl(40, 4%, 25%);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.icon_size {
  display: inline;
  position: relative;
  width: 24px;
  height: 24px;
}

.icon_move {
  display: inline;
  position: relative;
  width: 24px;
  height: 24px;
  left: 100px;
  bottom: 26px;
}

.icon_move_2 {
  display: inline;
  position: relative;
  width: 24px;
  height: 24px;
  left: 80px;
  bottom: 26px;
}

.icon_move_3 {
  display: inline;
  position: relative;
  width: 24px;
  height: 24px;
  left: 160px;
  bottom: 26px;
}

.shorten {
  position: relative;
  margin-top: -8px;
}

.italic {
  font-style: italic;
}

.rule {
  height: 2px;
  background-color: hsl(40, 4%, 25%);
  border: none;
}

.lighten {
  fill: white;
}

/*===============-Article Media Query-===============*/
@media screen and (max-width: 770px) {
  article {
    display: inline-block;
    margin-left: 5%;
    max-width: 90%;
    align-items: center;
  }

  .internal_nav_box, .note_article {
    display:  block;
    margin-left: 5%;
    max-width: 90%;
    align-items: center;
  }

  p {
    font-size: 20px;
  }

  .introduction_base {
    max-width: 60%;
  }

  .introduction {
    max-width: 55%;
  }

  .publish_date_base {
    font-size: 16px;
  }

  .introduction_image {
    width: 114px;
    height: 76px;
  }

  li {
    font-size: 20px;
  }
}
/*===============-CARDS CODE-===============*/
/* Positions the cards in a grid and allows them to spill evenly as the screen size is shrunk */
.cards {
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  float: left;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  max-width: 100vw;
}
/* (Container) Manages the colour, sizes, positioning for elements placed within the card */
.card {
  position: relative;
  margin-left: 1.6rem;
  margin-top: 0.6rem;
  margin-bottom: 0.8rem;
  place-items: left;
  font-size: 0.6rem;
  background-size: cover;
  padding: 4rem 0 0 0;
  height: 14rem;
  width: 10rem;
  border-radius: 0.2rem;
  border: 4px solid hsl(40, 4%, 25%);
  transition: transform 400ms ease-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  padding: 1rem;
}

.card-title {
  position: relative;
  font-size: 1.4rem;
  color: whitesmoke;
}
/* Small animation similar to that of the Navbar, where a white block squashes and returns to shape on mouse hover; it codes for the start of the animation */
.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: 0;
  bottom: 0;
  width: 70%;
  background: whitesmoke;
  transform: scale(0, 1);
  transition: transform 250ms ease;
}
/* End of the animation (while the mouse is still over the card and has not yet moved off) */
.card:hover .card-title::after {
  transform: scale(1, 0);
}

.button {
  cursor: pointer;
  position: absolute;
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: whitesmoke;
  background-color:hsl(40, 4%, 25%);
  padding: 0.3rem 0.8rem;
  border-radius: 2px;
  bottom: 1rem;
}

/* The button will change to white when hovered over */
.button:hover,
.button:focus {
  background-color: whitesmoke;
  color:hsl(40, 4%, 25%);
  cursor: url(images/blur_small.png) 16 16, pointer;
}

@media screen and (max-width: 770px) {
  .card {
    position: relative;
    margin-left: 0.7rem;
    margin-top: 0.6rem;
    margin-bottom: 0.8rem;
  }
}

/*===============-NAVBAR CODE-===============*/
/* Includes the padding and border in an element's total width and height */
*, *::before, *::after {
  box-sizing: border-box;
}

.website_logo {
  color: hsl(40, 4%, 25%);
  font-weight: 600;
  font-style: bold;
}

/* Fixes the position and width of the Navbar, and brings it before all elements */
header {
  background:hsl(36, 29%, 65%);
  text-align: center;
  position: absolute;
  z-index: 999;
  width: 100%;
  top: 0;
  cursor: url(images/circle_small.png) 16 16, auto;
}

.nav-toggle {
  display: none;
  top: 0;
}
/* Positioning for the website name in the Navbar */
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0.5em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: url(images/blur_small.png) 16 16, pointer;
}
/* Positioning for the website icon in the Navbar for when the title disappears */
.nav-toggle-label span {
  display: block;
  background-image: url(images/shadow_icon.png);
  height: 3rem;
  border-radius: 5px;
  top: 0;
  position: relative;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: hsl(36, 29%, 65%);
  width: 100%;
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: hsl(40, 4%, 25%);
  text-decoration: none;
  font-size: 1.6rem;
}

nav a:hover {
  color: whitesmoke;
  cursor: url(images/blur_small.png) 16 16, pointer;
}

.nav-toggle:checked~nav {
  display: block;
}

/* Changes the form of the Navbar once 800px screen size is reached; desktop website links in the Navbar are removed and a drop down menu can be toggled by clicking the now appeared website icon */
@media screen and (min-width: 770px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 7fr) 1fr;
  }

  .logo {
    grid-column: 2 / span 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -7px;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease 300ms;
  }

  nav a:hover::before {
    transform: scale(1, 0);
  }

  table {
    width: 100%;
  }
}

/*===============-FOOTER CODE-===============*/
/* Sets the size, colour, and positioning of the footer */
footer {
  position: relative;
  background-color: hsl(36, 29%, 65%);
  width: 100%;
  height: 30px;
  top: 15px;
  border-top: 2px;
  border-style: solid;
  border-color: hsl(40, 4%, 25%);
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-top: auto;
}
/* Button near the middle that upon activation sets the viewport to the top of the page */
.footer-button {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40px;
  height: 24px;
  top: 2px;
  left: 48vw;
  background-color:hsl(36, 29%, 65%);
  border: 1px solid hsl(40, 4%, 25%);
  border-radius: 2px;
  opacity: 1;
}
/* Changes the colour of the button on mouse hover */
.footer-button:hover {
  background-color: whitesmoke;
  cursor: url(images/blur_small.png) 16 16, pointer;
}
/*Changing the position of the arrow to the center of the button */
.arrow {
  display: block;
  position: relative;
  align-items: center;
}

@media screen and (max-width: 770px) {
  .footer-button {
    left: 45vw;
  }
}
